@keyframes clock_Animation {
    from {
        border: 7px solid rgb(147, 147, 252);
        border-radius: 50%;
    }
  
    to {
        border: 7px solid rgb(53, 53, 150);
        border-radius: 50%;
    }
  }
  .clock{
      animation-direction: alternate;
    animation-duration: 1.4s;
    animation-name: clock_Animation;
    animation-iteration-count:infinite;
      background: rgb(20, 20, 61);
      border: 7px solid rgb(147, 147, 252);
      border-radius: 50%;
      color: #fff;
      display: none;
      font-size: 1.2rem;
      padding: 30px 0;
      position: fixed;
      top: 90px;
      right: 10px;
      text-align: center;
      width: 80px;
      z-index: 1000;
  }

  .clock.show{
    display: block;
  }