.creditos {
  background-color: #3c3c3c;
  color: white;
  padding: 20px;
  text-align: center;
}
.creditos h3 {
  padding: 10px;
}
.creditos h3.colaboracion-de {
  padding: 20px 0 50px 0;
}
.creditos p {
  padding: 0 0 30px 0;
}
.creditos hr {
  border: solid 1px var(--main-font-color);
}