:root {
    --main-background: rgb(7, 29, 110);
    --main-background-color-opacy:rgba(0, 0, 0, 0.90);
    --main-font-color:#FECB00;
    --main-button-background:#FECB00;
    --main-button-color:#000000;
    --station-map-background: #117419;
    --text-general-background: #fff;
  }
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
html.stationMap{
    height: 100vh;
}
body{
    background-image: url("../images/mapa_estaciones.jpg");
    font-family: 'Open Sans', sans-serif;
    font-size: 62.5%;
    font-weight: 300;
}
body.stationMap{
    height: 100vh;
}
.changeScenarioAnimation{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: black;
    top: 0;
    left: 0;
    z-index: 9999;
    opacity: .2;
}
button.btn-general{
    background-color: var(--main-font-color);
    border: 0 solid;
    border-radius: 5px;
    cursor: pointer ;
    padding: 1rem;
    font-weight: 700;
    min-width: 11rem;
    margin: 1rem;
}
button.btn-submit{
    background-color: #0075ff;
    color: white;
}
.stageMaster{
     background-color: var(--main-background-color-opacy);
    background-position:center;
    background-size: auto 100%;
    font-size: 1rem;
    min-height: 100vh;
}
.stageMaster > div{
    
    overflow: auto;
    max-width: 1000px;
    margin: 0 auto;
}
.stageMaster > div.stage_stationMap{
    max-width: 100%;
    height: 100vh;
    overflow: hidden;
}
.stageMaster > div.hide{
    display: none !important;
}
.stageMaster  .stage_general.hide{
    display: none !important;
}
.text-center{
    text-align: center;
}
.text-general{
    background-color:var(--text-general-background) ;
    min-height: 20%;
    padding: 1rem;
    margin: 1rem 0 0 0;
    font-size: 1.1rem;
}
.text-general p{
    padding: 1rem 0;
}
.text-general ul {
    padding: 0 0 0 40px;
}
.text-general ul li{
    padding: 10px 0;
}
video.principal {
    display: block;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}
 .map-circle-button{
    background-color: var(--main-button-background);
    color: var(--main-button-color);
    display: flex;
    height: 3rem;
    width: 3rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 50%;
    padding: 2rem;
    position: fixed;
    z-index: 999;
    bottom: 2rem;
    right: 2rem;
    text-decoration: none;
    cursor: pointer;
    transition: .3s;
    border:2px solid var(--main-button-background);
    font-size: 0.8rem;
   
}
.map-circle-button:hover{
    border:2px solid #000;
    font-weight: bold;
}
.map-circle-button.hide{
    right: -1000px;
}

ul,ol{
    padding: 20px;
}
.alert-message-container.show{
    align-items: center;
    background-color: rgba(0, 0, 0, 0.9);
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    display: none;
    justify-content: center;
}
.alert-message-container.show{
    display: flex;
}
.alert-message{
    background-color: #ddd;
    display: block;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    font-size: 1rem;
   
}
.alert-message img.alert-image{
    height: 200px;
}
.alert-message p{
    text-align: center;
    padding: 20px 0;
}

.iframe-video-principal{
    display: block;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    height: 160px;
}

@media (min-width: 400px) {
    .iframe-video-principal{
      
       height: 200px;
    }
    
}

@media (min-width: 500px) {
    .iframe-video-principal{
      
       height: 253px;
    }
    
}


@media (min-width: 600px) {
    .iframe-video-principal{
      
       height: 310px;
    }
    
}



@media (min-width: 700px) {
    .iframe-video-principal{
      
       height: 367px;
    }
    
}


@media (min-width: 800px) {
    .iframe-video-principal{
      
       height: 423px;
    }
    
}

@media (min-width: 900px) {
    .iframe-video-principal{
      
       height: 512px;
    }
    
}

@media (min-width: 900px) {
    .iframe-video-principal{
      
       height: 543px;
    }
    
}